{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    <header>
        <h1>Matthieu Bardet</h1>
        <h2 class="second-color">Développeur Web PHP Symfony</h2>
    </header>
{% endblock %}