<div class="navigation">
    <button id="sized" class="menu">
        <span></span>
    </button>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content animated zoomIn">
            <div class="modal-header">
                <span class="close">×</span>
            </div>

            <div class="modal-body nav">
                <ul>
                    <li><a href="{{ path('accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('portfolio_home') }}">Portfolio</a></li>
                    <li><a href="{{ path('contact_index') }}">Contact</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <p>
                    <strong>Matthieu Bardet</strong>
                    <br>bardetmatthieu@posteo.net<br>
                    06.79.81.84.53
                </p>
            </div>
        </div>
    </div>
</div>