{% extends 'adminbase.html.twig' %}

{% block title %}Edit Portfolio{% endblock %}

{% block body %}
    <section class="admin d-flex flex-column align-items-center">
        <h1>ÉDITER UNE COMPÉTENCE</h1>

        {{ include('portfolio/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary" href="{{ path('portfolio_index') }}">Retour</a>

        {{ include('portfolio/_delete_form.html.twig') }}
    </section>
{% endblock %}
