{% extends 'adminbase.html.twig' %}

{% block title %}New Portfolio{% endblock %}

{% block body %}
    <section class="admin">
        <h1 class="text-center">AJOUTER UNE RÉALISATION</h1>
        <div class="text-center">
            {{ include('portfolio/_form.html.twig') }}

            <a href="{{ path('portfolio_index') }}">back to list</a>
        </div>
    </section>
{% endblock %}
