@import 'variables.scss';

body {
  background: $light
}

.admin {
  padding: $spacing16 0;
}

.admin-h1 {
  $margin-bottom: $spacing8 !important;
}

.admin a, .admin button {
  background: $lesser-dark;
  color: $light;
  border: none;
  font-weight: 700;
  height: 48px;
  width: 148px;
  margin: $spacing;
}

.admin a:hover {
  background: $primary;
  color: $light;
}

.admin a:focus, .admin a:hover, .admin a:focus, .admin button:focus, .admin button:hover, .admin button:focus {
  background: $secondary;
  color: $light;
}

.admin-card {
  background-color: $dark;
  border: none;
  border-radius: 3px;
  box-shadow: 5px 5px 0px 0px $light-opacity;
  padding: $spacing4;
  margin: $spacing8 0;
}

table {
  margin-top: $spacing8;
}

th {
  color: $light;
}

th {
  background: $dark;
}

/*
.btn-delete {
  background: $dark;
  border: none;
  color: $light;
}

.btn-delete:hover {
  background: $secondary;
}

.admin label {
  color: $light;
}

.admin input, .admin textarea {
  border: none;
  border-bottom: 1px solid $light;
  background: $light-opacity-low;
  height: 48px;
  border-radius: 3px 3px 0 0;
  color: $light;
  margin: $spacing2 0;
  width: 30vw;
}

.admin textarea {
  height: 128px;
}

.admin input:focus, .admin textarea:focus {
  background: $light-opacity;
  border: none;
}

.admin button {
  background: $light;
  border: none;
  color: $dark;
  font-weight: 700;
  height: 48px;
  width: 128px;
  margin: $spacing4 0;
}

.admin button:hover {
  background: $primary;
  color: $light;
}*/
