@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

body {
  font-family: $text-font;
  font-size: $p-font-size;
  background: $dark;
}

h1, h2, h3, h4 {
  font-family: $title-font;
  font-weight: 700;
  color: $primary;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

.second-color {
  color: $secondary;
}

.light {
  color: $light;
}