@import 'variables.scss';

footer {
  background: $lesser-dark;
  color: $light;
  padding: $spacing2 0;
}

footer .mail {
  margin-right: $spacing4;
}

footer .bi-linkedin {
  margin-left: $spacing4;
}

footer a:hover {
  color: $primary;
}

footer .before {
  position: relative;
  bottom: 2px;
  margin-right: $spacing;
  color: $primary;
}