@import 'variables.scss';

footer {
  background: $lesser-dark;
  color: $light;
  padding: $spacing2 0;
}

footer .mail {
  margin-right: $spacing8;
}

footer .bi-linkedin {
  margin-left: $spacing8;
}

footer a:hover {
  color: $primary;
}

footer .before {
  position: relative;
  bottom: 2px;
  margin-right: $spacing;
  color: $primary;
}

@media screen and (max-width: 425px) {
  .footer-contact {
    margin: 0 auto $spacing2;
    width: 80%;
  }
}