{% extends 'adminbase.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <section class="admin">
        <h1 class="text-center">AJOUTER UNE COMPÉTENCE</h1>

        <div class="text-center">
            {{ include('skill/_form.html.twig') }}

            <a href="{{ path('skill_index') }}">Retour</a>
        </div>
    </section>
{% endblock %}
